table{
    table-layout: fixed;
    width: 100%;
}
thead tr{
    background-color: black;
    color: white;
}
th,td {
    width: 25%;
    text-align: center;
}
th:hover {
    background-color:yellow !important;
    color: black !important;
    cursor: pointer;
}
td:hover {
    color: black !important;
    background-color: blue !important;
    cursor: pointer;
}
tbody tr:nth-child(odd) {
    background-color: gold;
}
tbody tr:nth-child(even) {
    background-color: lawngreen;
}
td {
    border: 3px solid black;
}