<div class="chart my-4">
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [colors]="barChartColors"
          [chartType]="barChartType"
          width="400" height="400"
          class="my-2 py-2">
        </canvas>
      </div>
      <!-- <div class="buttons my-2">
        <button mat-button mat-raised-button class="btn btn-dark" color="primary" (click)="randomize()">Update</button>
      </div> -->
    </div>
  </div>
